body {
    background-color: rgb(1, 121, 1);
    text-align: center;
    font-style: oblique;
}
    h1{
        color: rgb(0, 0, 0);
        font-size: xx-large;
    }

    h2{
        font-size: xx-large;
    }

    h3{
        font-size: xx-large;
    }

    .p1{
        font-size: larger;}

        p{
            font-size: larger;
        }
