body {
    background-color: rgb(186, 255, 186);
    text-align: center;
    font-style: oblique;
}
    h1{
        color: rgb(0, 192, 0);
        font-size: xx-large;
    }

    h2{
        font-size: xx-large;
        color: rgb(255, 255, 255);
    }

    h3{
        font-size: xx-large;
        color: rgb(255, 0, 0);
    }

    .p1{
        font-size: larger;}

        p{
            font-size: larger;
        }

        .img1 {
    width: 60%;
}